/* body, da cambiare : font family */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* +++++++++++++++++++ header ++++++++++++++ 
dimensione e posizione logo
dimensione e posizione, colore bg di p   
   il link interno a p */
header {text-align: center;}

header img {
    width: 10%;
}

header p {
    background-color: beige;
    border-top: 2px solid #ffd195;
    font-size: 0.8em;
    text-align: center;
    padding: 20px;
    color: #147474;
} 

header p a {
    color: rgb(35, 76, 94);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
/* ++++++++++ div contenitore grande quasi tutta pagina ++++++++ */

/* ++++ main ++++++++*/

/* +++ section dentro main ++++*/
#content {
    width: 1024px;
    margin: auto;
    border: 1px solid #000;
    padding: 10px;
    line-height: auto;
    display: block;
    justify-content: center;
}
h1 {
    text-align: center;
    font-size: 3em;
}

section p {
    font-size: 1.4em;
}
.video iframe {
    display: block;
    margin: 0 auto;
}
figcaption {
    color: gray;
    text-align: center;
}
/* ++++ aside ++++++ */
aside {
    margin-left: 2em;
    border-left: 2px solid #ffd195;
    line-height: 0.3em;
    padding: 10px ;
}

.feature {
    text-transform: uppercase;
    color: brown;
}

.feat_link a{
    color:#147474;
}

/* ++++++ section ++++++++++++
dove stanno ingredients
for the focccia
for the toppings */
hr {
    height: 1px;
    background-color: #b0d5d4;
    border: none;
}

h2 {
    font-weight: normal;
}

.ricetta {
    margin-left: 50px;
}

a {
    color: #147474;
}